.studentPage {
    height: 100vh;
    display: flex;
    background-color: #ddcaca;

    &__content {
        padding: 75px 45px 0;
        width: 100%;

        &__intro {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 28px;
                line-height: 42px;

                color: #fb7373;

                &:nth-child(2) {
                    width: 320px;
                }
            }
        }
    }

    &__courses {
        padding-top: 60px;

        &__search {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;

            input {
                border-radius: 15px;
                padding: 15px 20px;
                width: 150px;
                border: 0;
                outline: none;
                background-color: #ee8e85;
                font-size: 20px;

                &::placeholder {
                    color: #ddcaca;
                }
            }
        }

        &__table {
            &-title {
                border-radius: 15px;
                padding: 15px 0;
                font-size: 28px;
                line-height: 42px;
                color: white;
                text-align: center;
                width: 100%;
                background-color: #fdba11;
            }

            &-table {
                table {
                    color: #fb614e;
                    width: 100%;

                    thead {
                        font-size: 18px;

                        th {
                            padding: 26px 0;
                            border-bottom: 1px solid #fb7373;
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 13px 0;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
